/* Import the Open Sans webfont from Google CDN */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('OpenSans-Light'), url(../adminimal_theme-google-fonts/DXI1ORHCpsQm3Vp6mXoaTRsxEYwM7FgeyaSgU71cLG0.woff) format('woff');
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(../adminimal_theme-google-fonts/uYKcPVoh6c5R0NpdEY5A-Q.woff) format('woff');
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local('Open Sans Semibold'), local('OpenSans-Semibold'), url(../adminimal_theme-google-fonts/MTP_ySUJH_bn48VBG8sNShsxEYwM7FgeyaSgU71cLG0.woff) format('woff');
}

body.adminimal {
  font: normal 81.3%/1.538em "Open Sans", sans-serif;
}

.adminimal .toolbar {
  font-family: "Open Sans";
}
