[submodule "commerce/web/modules/custom/enhanced_product"]
	path = commerce/web/modules/custom/enhanced_product
	url = git@github.com:solody/enhanced_product.git
	branch = master
[submodule "commerce/web/modules/custom/enhanced_user"]
	path = commerce/web/modules/custom/enhanced_user
	url = git@github.com:solody/enhanced_user.git
	branch = master
[submodule "commerce/web/modules/custom/alipay"]
	path = commerce/web/modules/custom/alipay
	url = git@github.com:solody/alipay.git
	branch = master
[submodule "commerce/web/modules/custom/wechat_pay"]
	path = commerce/web/modules/custom/wechat_pay
	url = git@github.com:solody/wechat_pay.git
	branch = master
[submodule "commerce/web/modules/custom/simple_oauth_code"]
	path = commerce/web/modules/custom/simple_oauth_code
	url = git@github.com:solody/simple_oauth_code.git
	branch = master
[submodule "commerce/web/modules/custom/wechat_connect"]
	path = commerce/web/modules/custom/wechat_connect
	url = git@github.com:solody/wechat_connect.git
	branch = master
[submodule "commerce/web/modules/custom/user_phone"]
	path = commerce/web/modules/custom/user_phone
	url = git@github.com:solody/user_phone.git
	branch = master
[submodule "commerce/web/modules/custom/phone_verify"]
	path = commerce/web/modules/custom/phone_verify
	url = git@github.com:solody/phone_verify.git
	branch = master
[submodule "commerce/web/modules/custom/commerce_refund"]
	path = commerce/web/modules/custom/commerce_refund
	url = git@github.com:solody/commerce_refund.git
	branch = master
[submodule "commerce/web/modules/custom/account"]
	path = commerce/web/modules/custom/account
	url = git@github.com:solody/account.git
	branch = master
