[submodule "modules/custom/enhanced_product"]
	path = modules/custom/enhanced_product
	url = git@github.com:solody/enhanced_product.git
	branch = master
[submodule "modules/custom/enhanced_user"]
	path = modules/custom/enhanced_user
	url = git@github.com:solody/enhanced_user.git
	branch = master
[submodule "modules/custom/alipay"]
	path = modules/custom/alipay
	url = git@github.com:solody/alipay.git
	branch = master
[submodule "modules/custom/wechat_pay"]
	path = modules/custom/wechat_pay
	url = git@github.com:solody/wechat_pay.git
	branch = master
[submodule "modules/custom/simple_oauth_code"]
	path = modules/custom/simple_oauth_code
	url = git@github.com:solody/simple_oauth_code.git
	branch = master
[submodule "modules/custom/wechat_connect"]
	path = modules/custom/wechat_connect
	url = git@github.com:solody/wechat_connect.git
	branch = master
[submodule "modules/custom/user_phone"]
	path = modules/custom/user_phone
	url = git@github.com:solody/user_phone.git
	branch = master
[submodule "modules/custom/phone_verify"]
	path = modules/custom/phone_verify
	url = git@github.com:solody/phone_verify.git
	branch = master
[submodule "modules/custom/commerce_refund"]
	path = modules/custom/commerce_refund
	url = git@github.com:solody/commerce_refund.git
	branch = master
[submodule "modules/custom/account"]
	path = modules/custom/account
	url = git@github.com:solody/account.git
	branch = master
[submodule "modules/custom/simple_stock"]
	path = modules/custom/simple_stock
	url = git@github.com:solody/simple_stock.git
	branch = master
[submodule "themes/custom/weeshop_alpha"]
	path = themes/custom/weeshop_alpha
	url = git@github.com:weeshop/weeshop_alpha.git
[submodule "modules/custom/commerce_checkout_api"]
	path = modules/custom/commerce_checkout_api
	url = git@github.com:solody/commerce_checkout_api.git
[submodule "modules/custom/weeshop_demo"]
	path = modules/custom/weeshop_demo
	url = git@github.com:weeshop/weeshop_demo.git
[submodule "modules/custom/migrate_inline_image"]
	path = modules/custom/migrate_inline_image
	url = git@github.com:solody/migrate_inline_image.git
[submodule "modules/custom/product_adverts"]
	path = modules/custom/product_adverts
	url = git@github.com:solody/product_adverts.git
[submodule "modules/custom/adverts"]
	path = modules/custom/adverts
	url = git@github.com:solody/adverts.git
