section.block {
    overflow: visible;
}

.form-actions {
    padding: 1.5rem 0;
}

form .background-btn {
    padding: 10px 19px;
    cursor: pointer;
}

.has-featured-top .region-highlighted {
    background: #f0f0f0;
    background: rgba(30, 50, 10, 0.08);
}
.region-highlighted {
    margin: 0 15px;
}

.status-massages {
    margin: 1rem 0 2rem 0;
    padding: 1rem;
    border-top: 1px solid green;
    border-bottom: 1px solid green;
}

.status-massages-error {
    color: red;
}

.status-massages-error a {
    text-decoration: underline;
    color: red;
}

.catshop-page-content {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}
