<!-- Category section -->
<section class="category-section spad">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 order-2 order-lg-1">
        {{ sidebar }}
      </div>

      <div class="col-lg-9  order-1 order-lg-2 mb-5 mb-lg-0">
        {{ content }}
      </div>
    </div>
  </div>
</section>
<!-- Category section end -->
