{#
/**
 * @file
 * Two column template for the block add/edit form.
 *
 * This template will be used when a block edit form specifies 'block_edit_form'
 * as its #theme callback.  Otherwise, by default, block add/edit forms will be
 * themed by form.html.twig.
 *
 * Available variables:
 * - form: The block add/edit form.
 *
 * @ingroup templates
 */
#}
<div class="row">
  <div class="col-xs-9">
    {{ form|without('place_blocks') }}
  </div>
  <div class="col-xs-3">
    {{ form.place_blocks }}
  </div>
</div>
