/* ------------------ Sidebar ----------------- */
.sidebar {
  width: 20%;
}

.sidebar .section {

}
.sidebar .block {
  border: 1px solid #ddd;
  -webkit-border-radius: 0 0 5px 5px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 0 0 5px 5px;
  -moz-background-clip: padding;
  border-radius: 0 0 5px 5px;
  background-clip: padding-box;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  margin: 0 0 20px;
}
.sidebar h2 {
    margin: -1px -21px 20px -21px;
    background-color: #34a853;
    color: #fff;
    border-bottom: none;
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 3;
    padding: 0 20px;
}
.sidebar .block .content {
  font-size: 0.914em;
  line-height: 1.4;
}
.sidebar tbody {
  border: none;
}
.sidebar tr.even,
.sidebar tr.odd {
  background: none;
  border-bottom: 1px solid #d6d6d6;
}
