/**
 * @file
 * Bartik layout styling.
 */

/**
 * Container
 */
.layout-container {
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
}
@media all and (min-width: 1200px) {
  .layout-container {
    max-width: 1170px;
  }
}
@media all and (min-width: 992px) and (max-width: 1199px){
  .layout-container {
    max-width: 960px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .layout-container {
    max-width: 740px;
  }
}

@media (min-width: 481px) and (max-width: 767px) {

}

@media (max-width: 480px) {

}

/**
 * Main
 */
.layout-main-wrapper {
  min-height: 300px;
}
.layout-main {
  margin-top: 20px;
  margin-bottom: 40px;
}
