a {
  color: black;
}

a:hover {
  color: #f51167;
}

.p-price > div {
  display: flex;
  align-items: flex-end;
  line-height: 24px;
}

.p-price > div > div:first-child {
  font-size: 70%;
  margin-right: 10px;
}

.form-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 10px;
}

.form-item > label {
  float: left;
  margin-right: 15px;
  text-transform: uppercase;
  font-weight: 700;
  color: #414141;
  padding-top: 10px;
  margin-bottom: 0;
}

label {
  font-size: 14px;
  line-height: 1.6;
}

.form-item .pro-qty {
  width: 94px;
  height: 36px;
  border: 1px solid #ddd;
  padding: 0 15px;
  border-radius: 40px;
  float: left;
}

.form-item .pro-qty .qtybtn {
  width: 15px;
  display: block;
  float: left;
  line-height: 36px;
  cursor: pointer;
  text-align: center;
  font-size: 18px;
  color: #404040;
}

.form-item .pro-qty input {
  width: 28px;
  float: left;
  border: none;
  height: 36px;
  line-height: 40px;
  padding: 0;
  font-size: 14px;
  text-align: center;
  background-color: transparent;
}



input[type=text].textfield {
  width: 100%;
  height: 44px;
  border: none;
  padding: 0 18px;
  background-color: #f0f0f0;
  border-radius: 40px;
  margin-bottom: 20px;
  font-size: 14px;
}



.highlighted-region { margin: 20px 0; }


#block-weeshop-alpha-local-tasks {
  position: absolute;
  margin-top: 28px;
}

#block-weeshop-alpha-local-tasks .nav-tabs {
  border-bottom: none;
}


.alert {
  border: none;
  border-radius: 0;
}



.attribute-widgets .fieldset-legend{
  float: left;
  margin-right: 15px;
  text-transform: uppercase;
  font-weight: 700;
  color: #414141;
  padding-top: 10px;
  margin-bottom: 0;
  font-size: 14px;
  line-height: 1.6;
}


.attribute-widgets .fieldset-wrapper {
  border-bottom: none;
  padding-bottom: 0;
}



.attribute-widgets .js-form-type-select select {
  display: inline;
  width: auto;
}





.attribute-widgets fieldset.product--rendered-attribute .js-form-type-radio input[type=radio]:checked+label {
  border: 2px solid #f51167;
  background-color: #f51167;
  color: white;
}

.attribute-widgets fieldset.product--rendered-attribute .js-form-type-radio .disable label {
  border: 2px solid #e1e1e1;
  color: #cacaca;
}

.attribute-widgets fieldset.product--rendered-attribute .js-form-type-radio label {
  width: auto;
  min-width: 33px;
  height: 33px;
  font-size: 12px;
  border: 2px solid #414141;
  display: inline-block;
  text-align: center;
  color: #414141;
  font-weight: 500;
  cursor: pointer;
  border-radius: 50px;
  padding: 7px 6px 0;
  line-height: 1.6;
}

.attribute-widgets .js-form-type-radio label {
  font-weight: normal;
}

.attribute-widgets .js-form-type-radio input[type=radio] {
  margin-right: 10px;
}

.attribute-widgets .js-form-type-radio {
  margin-bottom: 0;
}


.facets_ckeckbox_li {
  list-style-type: none;
}


.weeshop-view-exposed-form {
  padding-bottom: 30px;
}

.category-section .product-section {
  padding: 0;
}

.category-section .product-section > div.container {
  padding-left: 0;
  padding-right: 0;
}

.add-to-cart-panel {
  background-color: rgba(255,255,255,.8);
  padding: 10px;
  display: none;
  position: absolute;
  z-index: 99;
  width: 100%;
}

.add-to-cart-panel.show {
  display: block;
}

.page-link { color: black;}
.page-link:hover { color: #f51167;}

.search-api-autocomplete-search {
  background-color: rgba(255,255,255,.8);
  border-radius: 3px;
  overflow: hidden;
}

.search-api-autocomplete-search .ui-menu-item a {
  display: block;
}


.search-api-autocomplete-search .ui-menu-item a:hover,
.search-api-autocomplete-search .ui-menu-item a.ui-state-active{
  background-color: #f51167;
  border: none;
}

.search-api-autocomplete-search .ui-menu-item a:hover .search-api-autocomplete-suggestion,
.search-api-autocomplete-search .ui-menu-item a.ui-state-active .search-api-autocomplete-suggestion{
  background-color: #f51167;
}


.js input.form-autocomplete,
.js input.form-autocomplete.ui-autocomplete-loading {
  background-position: 96% center;
}
