<a href="{{ url }}">
  <i class="flaticon-shopping-bag"></i>
  <span class="count text-white rounded-circle text-center">{{ count_text|e|abs }} </span>
</a>
{% if content %}
  <div class="cart-block--contents">
    <div class="cart-block--contents__inner">
      <div class="cart-block--contents__items">
        {{ content }}
      </div>
      <div class="cart-block--contents__links">
        {{ links }}
      </div>
    </div>
  </div>
{% endif %}