{#
/**
 * @file
 * Default theme implementation to display a Bootstrap Dropdown component.
 *
 * Available variables:
 * - alignment: (optional) The alignment of the dropdown menu.
 * - attributes: An array of HTML attributes intended to be added to the main
 *   container tag of this template.
 * - items: The dropdown menu items.
 * - toggle: The toggle element.
 *
 * @ingroup templates
 */
#}
{%
  set classes = [
    'btn-group',
    alignment ? 'drop' ~ alignment|clean_class : 'dropdown',
  ]
%}
<div{{ attributes.addClass(classes) }}>
  {{ toggle }}
  {{ items }}
</div>
